includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    paths:
        - bin/coverage-guard
        - coverage-guard.php
        - composer-dependency-analyser.php
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/fixtures/*
    tmpDir: cache/phpstan/
    internalErrorsCountLimit: 1
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - LogicException
            - Error

    editorUrl: null
    editorUrlTitle: '%%relFile%%:%%line%%'

    shipmonkDeadCode:
        usageExcluders:
            tests:
                enabled: true

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                Exception: Exception
                PHPUnit\Framework\TestCase: Test
                ShipMonk\CoverageGuard\Rule\CoverageRule: Rule
                ShipMonk\CoverageGuard\Extractor\CoverageExtractor: Extractor

    ignoreErrors:
        # allow calling internal methods from SebastianBergmann\CodeCoverage
        -
            message: "#Call to method .* of internal class SebastianBergmann\\\\CodeCoverage\\\\.*#"
            path: src/Extractor/PhpUnitCoverageExtractor.php

        # support even old sebastian/diff
        -
            message: "#Call to function method_exists\\(\\) with SebastianBergmann\\\\Diff.*#"
            paths:
                - src/CoverageGuard.php
                - src/Command/AbstractCommand.php

        -
            identifiers:
                - classConstant.internalClass
                - new.internalClass
                - method.internalClass
            path: tests/Extractor/PhpUnitCoverageExtractorTest.php

        -
            identifiers:
                - missingType.checkedException
                - shipmonk.checkedExceptionInCallable
            path: tests/

        # DOMDocument::createElement can technically return false, but in practice it won't for simple element names
        -
            identifiers:
                - method.nonObject
                - argument.type
                - missingType.checkedException
            paths:
                - src/Writer/CloverCoverageWriter.php
                - src/Writer/CoberturaCoverageWriter.php

        -
            identifiers:
                - return.type
            path: src/Writer/CoberturaCoverageWriter.php

        # Initializer is replaced by Command system but kept for potential future use
        -
            identifiers:
                - shipmonk.deadMethod
            paths:
                - src/Initializer.php
