includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    paths:
        - bin/coverage-guard
        - coverage-guard.php
        - composer-dependency-analyser.php
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/_fixtures/*
    tmpDir: cache/phpstan/
    internalErrorsCountLimit: 1
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: false # true not usable with DOMDocument::createElement usages: https://github.com/phpstan/phpstan/issues/13792
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkTooWideThrowTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            throwTypeCovariance: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - LogicException
            - Error

    editorUrl: null
    editorUrlTitle: '%%relFile%%:%%line%%'

    shipmonkDeadCode:
        usageExcluders:
            tests:
                enabled: true

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                Exception: Exception
                PHPUnit\Framework\TestCase: Test
                ShipMonk\CoverageGuard\Cli\CliOption: CliOption
                ShipMonk\CoverageGuard\Cli\CliArgument: CliArgument
                ShipMonk\CoverageGuard\Command\Command: Command
                ShipMonk\CoverageGuard\Hierarchy\CodeBlock: Block
                ShipMonk\CoverageGuard\Rule\CoverageRule: Rule
                ShipMonk\CoverageGuard\Writer\CoverageWriter: CoverageWriter
                ShipMonk\CoverageGuard\Extractor\CoverageExtractor: Extractor

    ignoreErrors:
        # allow calling internal methods from SebastianBergmann\CodeCoverage
        -
            message: "#internal class SebastianBergmann\\\\CodeCoverage\\\\.*#"
            paths:
                - src/Extractor/PhpUnitCoverageExtractor.php
                - tests/Extractor/PhpUnitCoverageExtractorTest.php

        # support even old sebastian/diff
        -
            message: "#Call to function method_exists\\(\\) with SebastianBergmann\\\\Diff.*#"
            paths:
                - src/Utils/PatchParser.php

        # do not track checked exceptions in tests
        -
            identifiers:
                - missingType.checkedException
                - shipmonk.checkedExceptionInCallable
            path: tests/
